@tailwind base;
@tailwind components;
@tailwind utilities;

.EasyMDEContainer .editor-toolbar {
  border: 1px solid var(--gray-a7);
  border-bottom: none;
}

.EasyMDEContainer .CodeMirror {
  border: 1px solid var(--gray-a7) !important;
  clip-path: none !important;
  background-color: var(--gray-3) !important;
}

.EasyMDEContainer .CodeMirror-cursor {
  border-left: 1px solid var(--gray-12);
}

.EasyMDEContainer .editor-toolbar button.active,
.EasyMDEContainer .editor-toolbar button:hover {
  background: var(--gray-4);
  border-color: var(--gray-4);
}

.rt-TextFieldChrome {
  outline: none !important;
}

.rt-Card.overflow-visible .rt-CardInner {
  overflow: visible;
}